@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
	font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@theme {
	--breakpoint-b-mobile: 21.25rem;

	--color-primary: #365681;
	--background-color-primary-hover: #426a9e;
	--background-color-primary-active: #304d73;

	--color-fg-base: #333a48;
	--color-fg-tertiary: #66738f;
	--color-fg-inverted: #eff6ee;

	--color-brder: #dbe0e6;
}

@layer base {
	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		min-height: 100vh;
		background-color: #fff;
		color: var(--color-fg-base);
	}
}

@layer components {
	.button {
		@apply inline-flex justify-center text-sm md:text-base items-center rounded-sm transition-colors duration-300 ease-in-out cursor-pointer;
		padding: 0.5em 1em;
	}
	.button.primary {
		@apply bg-primary text-fg-inverted;
	}

	.button.primary:hover {
		@apply bg-primary-hover;
	}

	.button.primary:active {
		@apply bg-primary-active;
	}
	.button.secondary {
		@apply border border-primary text-primary bg-transparent;
	}

	.button.secondary:hover {
		@apply hover:bg-primary/10;
	}

	/* .button.primary:active {
		@apply bg-secondary-active;
	} */
}
